.basket {
  &__wrapper {
    margin: 0 auto;
    max-width: 1300px;
    //height: 60vh;
    display: flex;
    justify-content: center;
    gap: 30px;
    color: black;
    padding: 10px;
    padding-top: 50px;
  }
  &__products {
    width: 800px;
    //background: orange;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0 4px 8px #333;
  }
  &__header {
    user-select: none;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    font-size: 18px;
    color: white;
    background-color: rgb(78, 78, 190);
    border-radius: 10px 10px 0 0;
    font-weight: 600;
  }
  &__limit {
    text-align: center;
    width: 54px;
    height: 25px;
    font-family: cursive;
    font-size: 24px;
  }
  &__prevpage, &__nextpage {
    border: 3px solid rgb(81, 26, 220);
    user-select: none;
    background: white;
    color: black;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px;
  }
  &__prevpage:hover, &__nextpage:hover {
    cursor: pointer;
    background: rgb(132, 216, 149);
    color: rgb(242, 236, 236);
  }
  &__items {
    padding: 0 10px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
  }
  &__product {
    user-select: none;
    text-decoration: none;
    color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //width: 600px;
    height: 100px;
    border-bottom: 3px solid rgb(78, 78, 190);
    background-color: white;
    font-size: 24px;

    &:last-child {
      border-bottom: none;  
    }
  }
  &__title {
    font-size: 16px;
    display: flex;
    flex-direction: column;
  }
  &__name {
    font-size: 18px;
  }
  &__desc {
    font-size: 14px;
    font-style: italic;
  }
  &__rate {
    font-size: 12px;
  }
  &__info {

  }
  &__img {
    display: inline-flex;
    height: 80px;
    img {
      transition: 0.2s;
    }
    & > img:hover {
      transform: scale(1.05);
    }
  }
  
  &__control-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
  }
  &__control {
    display: flex;
    gap: 10px;
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid rgb(78, 78, 190);
    user-select: none;
    transition: 0.3 ease-out;
  }
  &__btn:hover {
    cursor: pointer;
    background: rgb(96, 96, 194);;
  }
  &__totalcount {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
  }
  &__count {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: #fff;
    font-weight: 700;
  }
  &__summary {
    user-select: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 30%;
    height: fit-content;;
    background: white;
    min-width: 240px;
    border-radius: 10px;
    padding: 60px 10px 10px;
    position: relative;
    box-shadow: 0 4px 4px #333;
    &-title {
      user-select: none;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgb(78, 78, 190);
      border: 2px solid rgb(78, 78, 190);
      color: white;
      width: 100%;
      font-size: 24px;
      font-weight: 800;
      border-radius: 10px 10px 0 0;
      height: 50px;
      position: absolute;
      top: 0;
    }
  }
  &__promo {
    &-1, &-2 {
      display: flex;  
      font-size: 24px;
      margin-bottom: 5px;
      box-shadow: 0 2px 4px #333;
      padding: 5px;
      border-radius: 10px;
      align-items: center;
      & > input {
        width: 20px;
        height: 20px;
      }
      &.hidden {
        display: none;
      }
    }
    &-wrapper {
      display: flex;
      flex-direction: row;
    }
  }
  &__promo-input {
    padding: 10px;
    width: 70%;
    height: 40px;
    border-radius: 16px;
    border: 3px solid orange;
    font-size: 18px;
  }
  &__total-price, &__total-products, &__promo-price{
    user-select: none;
    font-size: 24px;
    align-self: center;
  }
  &__old-price {
    text-decoration: line-through;
  }
  &__promo-applied {
    //height: 20px;
    //background: wheat;
    margin-bottom: 10px;
  }
  &__promo-wrapper {
    display: flex;
    gap: 10px;
    flex-direction: row;
    background: floralwhite;
  }
  &__promo-dropbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 149, 27);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  &__buybtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(78, 78, 190);
    border-radius: 15px;
    background: rgb(78, 78, 190);
    width: 200px;
    height: 50px;
    font-weight: 700;
    color: white;
    font-size: 24px;
    margin-bottom: 5px;
    cursor: pointer;
    user-select: none;
  }
  &__testbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid orangered;
    width: 200px;
    height: 50px;
    color: black;
    font-size: 24px;
  }


  &__testbtn:hover {
    user-select: none;
    cursor: pointer;
    
  }
  &__textline {
    text-decoration: line-through;
  }
}


@media (max-width: 1080px) {
  .basket {
    &__wrapper {
      flex-direction: column;
      align-items: center;

      h4 {
        font-size: 16px;
        text-align: center;
      }
    }

    &__total-price, &__total-products, &__promo-price{
      font-size: 16px;
    }

    &__promo {
      &-1, &-2 {
        font-size: 16px;
        vertical-align: baseline;
        margin-bottom: 5px;
        & > input {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

@media (max-width: 860px) {
  .basket {
    &__wrapper {
      width: 100%;
    }
    &__products {
      width: 100%;
    }
    &__product {
      display: grid;
      gap: 10px;
      grid-template-columns: auto 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      height: auto;
    }

    &__number {
      grid-row: 1/3;
    }

    &__img {
      width: 100%;
      height: 150px;
      grid-row: 1/3;
      grid-column: 2;
      justify-content: center;
      padding: 20px;
    }
  }
}

@media (max-width: 720px) {
  .basket__count {
    font-size: 16px;
  }
}

@media (max-width: 630px) {
  .basket {
    &__product {
      grid-template-columns: auto 1fr;
    }
  }
}

@media (max-width: 560px) {
  .basket {
    &__product {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }

    &__number, &__img {
      grid-row: auto;
      grid-column: auto;
      align-self: center;
    }

    &__img {
      width: 100px;
      height: auto;

      img {
        width: 100px;
      }
    }

    &__header {
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: center;
      height: auto;
      padding: 10px;

      & > span:nth-child(2) {
        justify-self: center;
      }

      & > span:nth-child(3) {
        grid-column: 1/3;
        justify-self: center;
      }
    }
  }
}

@media (max-width: 430px) {
  .basket {
    &__header {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }
}