* {
  box-sizing: border-box;
}
body {
  color: #333;
  background: #e2f2ff;
  font-family: "Verdana", sans-serif;
  margin: 0;
}

h1 {
  color: red;
}

.products-items {
  display: grid;
  justify-content: center;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}

.hidden {
  display: none;
}

.root {
  padding: 0 10px;
}