
body {
  color: #fff;
  background: #f5edea;
  font-family: sans-serif;
  margin: 0;
  //background: url(../../assets/img/girl.png); //рабоатет так
}

h1 {
  color: red;
}

.products-items {
  display: grid;
  justify-content: center;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}