.product-card {
  background-color: #fff;
  color: #333;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card__img {
  height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    max-width: 100%;
  }
}