.product-card {
  background-color: #fff;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card__img {
  max-width: 200px;

  & img {
    width: 100%;
  }
}