::-webkit-scrollbar {
  width: 8px; /* ширина для вертикального скролла */
  background-color: #e2f2ff;
}

::-webkit-scrollbar-thumb {
  background-color:rgb(78, 78, 190);
  border-radius: 10px;
  border: 1px solid rgb(78, 78, 190);
}